@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Protest+Revolution&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0eaeed;
  --secondary: #222240;
  --tertiary: #ff4500;
  --light: #b5e2f3;
}

html, 
body {
  font-family: 'Onest', sans-serif;
  background: var(--secondary);
  color: var(--light);
  line-height: 1.6;
  scroll-behavior: smooth;
}

a{
  color: var(--light);
  text-decoration: none;
}

ul { 
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.6s ease-in-out;
}

.navbar__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.navbar__logo h4 {
  width: 112px;
  height: 36px;
  color: var(--primary);
  font-size: 23px;
  font-family: 'Protest Revolution', cursive;
  font-weight: lighter;
  letter-spacing: 2px;
}

.navbar__menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 300;  
}

.navbar__menu-link {
  transition: color 0.6s ease;
}

.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
  color: var(--primary);
}

.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary {
  color: var(--primary);
  transition: color 0.6s ease;
}

.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover {
  color: var(--light);
}

.navbar__mobile-menu {
  display: none;
  cursor: pointer;
}

.navbar__mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--secondary);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.6s ease-in-out;
}

.navbar__mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar__mobile-menu-items  {
  transform: translateX(100%);
}

.navbar__mobile-menu-items.active  {
  transform: translateX(0);
}

@media(max-width: 768px) {
  .navbar__menu {
    display:none;
  }
  .navbar__mobile-menu {
    display: block;
  }
}